@import "./null-style.scss";
@import "./input-function.scss";

html {
  height: max-content;
  min-height: 100%;
}
body{
  display: flex;
  min-height: 100vh;
  font: 20px "Calibri", sans-serif;
}
.wrapper {
  position: relative;
  width: 100%;
  flex: 1 1 100%;
  background-color: #c1c2c3;
  /*
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1200 - 320)));
  ↑ На экране шириной 320 пикселей шрифт имеет размер 16 пикселей, 
  а на экране шириной 1200 пикселей – размер 24 пикселя. */
}

.chart-blocks {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-auto-rows: 50vh;
  justify-items: center;
  align-items: center;
}

.chart-block{
  width: 48vw;
  height: 48vh;
  margin: 1vh 0;
  background-color: white;
  // border: 1px solid #000;
  display: flex;
  flex-direction: row;
  transition-property: transform;
  transition-duration: 0.75s;
  transition-timing-function: ease-in;
}

.chart-buttons{
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  & > div {
    width: 100%;
    height: 25%;
    border: 3px solid gray;
  }
}

.canvas {
  width: 80%;
  height: 100%;
  border: 3px solid black;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  & > div {
    width: 100%;
    height: 25%;
    border: 3px solid royalblue;
  }
  & > .remove-chart-block-btn {
    background-color: red;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    & > div{
      position: absolute;
      width: 60%;
      height: 10%;
      background-color: #ececec;
      transform: rotateZ(45deg);
    }
    & > div:last-of-type{
      transform: rotateZ(135deg);
    }
  }
}

.create-chart-block-btn {
  width: 100%;
  height: 25vh;
  background-color: dodgerblue;
  border: 1px dashed royalblue;
  border-width: calc(10px + (20 - 10) * ((100vw - 320px) / (1200 - 320)));
  border-radius: calc(10px + (20 - 10) * ((100vw - 320px) / (1200 - 320)));
  display: flex;
  justify-content: center;
  align-items: center;
  & > div{
    position: absolute;
    width: 6vh;
    height: 16vh;
    background-color: #ececec;
  }
  & > div:last-of-type{
    transform: rotateZ(90deg);
  }
}


.input-data-wrapper{
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(-150%);
  transition: transform 0.75s ease-in;
  &.active{
    transform: translateY(0%);
    transition: transform 0.75s ease-in;
  }
}
.input-data-block {
  position: absolute;
  top: 1vh; left: 1vw;
  width: 98vw;
  height: 98vh;
  background-color: royalblue;
  border: 5px solid blue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1200 - 320)));
}
.input-data-block__options {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 0 1 auto;
  color: white;
  & > div {
    width: 50%;
    background-color: #3636ff;
    border: 3px solid blue;
    text-align: center;
  }
}
.input-data-block__input {
  width: 100%;
  flex: 1 1 auto;
}

.create-chart {
  width: 35%;
  background-color: limegreen;
  text-align: center;
  border: 3px solid forestgreen;
  border-radius: 10px;
}
.remove-chart {
  width: 35%;
  background-color: red;
  text-align: center;
  border: 3px solid maroon;
  border-radius: 10px;
}
.cancel-changes {
  width: 20%;
  background-color: gray;
  text-align: center;
  border: 3px solid slategray;
  border-radius: 10px;
}

.input-markers {
  display: none;
}

// @media (max-width: 1200px) {
//   /* Стили CSS для ширины от 992px до 1200px */
//   /* Устройства со средним экраном (ноутбуки и компьютеры)*/
  
// }
@media (max-width: 992px) {
  /* Стили CSS для ширины от 768px до 992px */
  /* Устроства с маленьким экраном (планшеты) */
  
}
@media (max-width: 767px) {
  /* Стили CSS для ширины до 768px */
  /* Устройства с очень маленьким экраном (смартфоны) */
  .input-function__keyboard {
    flex-direction: column-reverse;
  }
  .chart-blocks {
    grid-template-columns: 1fr;
  }
  .chart-block{
    width: 100vw;
    
  }
}
@media (max-width: 992px) {
  
  
  
  /* Стили CSS для ширины до 768px */
  /* Устройства с очень маленьким экраном (смартфоны) */
  
}